@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgba(254, 244, 222, 1);
    font-family: Trebuchet, Arial, sans-serif;
    text-align: center;
}

section {
    width: 100%;
    padding-block: 15px;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: #663128;
}

h1 {
    font-size: 100px;
    font-weight: 900;
}

h2 {
    font-size: 64px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(124, 64, 50, 1);
}

h3 {
    font-size: 58px;
    font-weight: 700;
    letter-spacing: 18px;
}

button {
    position: relative;
    display: block;
    margin: 30px auto;
    padding: 5px 30px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 25px;
    box-shadow: 0px 20px 40px rgba(243, 206, 94, 0.2);
    background-color: rgba(243, 206, 94, 1);
    color: rgba(102, 49, 40, 1);
    transition: background-color .3s;
}

button:hover {
    background-color: rgba(102, 49, 40, 1);
    color: rgba(243, 206, 94, 1);
}

button > * {
    position: relative;
}

button span {
    display: block;
    padding: 12px 24px;
    font-weight: 900;
}
button:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

button.outlined {
    background-color: rgba(0, 0, 0, 0);
    border-width: 3px;
    border-radius: 35px;
    border-color: #7c4032;
    box-shadow: none;
}

button.outlined:hover {
    background-color: rgba(102, 49, 40, 1);
}

button.blank {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

button.blank:hover {
    background-color: rgba(102, 49, 40, 1);
}

input {
    display: block;
    border: none;
    background-color: #E6AF99;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 10px 50px;
    min-width: 210px;
}

footer {
    padding: 20px;
    height: 5vh;
    background-color: #7c4032;
}

.home-info {
    display: flex;
    flex-direction: row;
    background-image: url("../img/Image - EXPORTAR - BACKGROUND DE FORMAS GEOMÉTRICAS.png");
    background-size: cover;
}

.home-text {
    line-height: 0.2;
}

.home-text p {
    color: #663128;
    line-height: 1;
}

.home-btns {
    display: flex;
    flex-direction: row;
}

.home-img {
    max-width: 100%;
}

.services {
    background-color: #7c4032;
} 

.services h2 {
    color: #fff;
}

.testimonials {
    background-image: url("../img/Image\ -\ EXPORTAR\ -\ BACKGROUND\ DE\ FORMAS\ GEOMÉTRICAS.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cards-container {
    display: flex;
    grid-row: 2;
    grid-column: 2;
}

.testimonial {
    text-align: left;
    max-width: 392px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #7C4032;
    border-radius: 30px;
    padding: 20px 50px 30px 50px;
    margin: 20px 50px;
}

.testimonial span {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #7C4032;
}

.testimonial p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #333;
}

.contact {
    background-color: #fff;
}

.contact-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-info {
    text-align: left;
    line-height: 1.5;
}